.banner {
    height: 56vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner::before {
    content: '';
    background: linear-gradient(to top, transparent);
    position: absolute;
    left: 0;
    height: 70vh;
    width: 100%;
}

.banner-text-area {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.banner-text-area > * {
    z-index: 2;
}

@media (max-width: 768px) {
    .banner-text-area p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  

